<!DOCTYPE html>
<html>
<head>
	<title>Media Browser Client</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/customStyle.css">

	<script src="../js/jquery.min.js"></script>
	<script src="../js/tether.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/webSocketServerAddress.js"></script>
	<script src="../js/twitchLive.js"></script>

	<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
		
</head>

<body>
<div id="mainRow1" class="row">
<div class="col-xs-4" id="wLeftCol" ></div>
<div class="col-xs-4 text-center">
	<h1 class="text-center" id="wPlaceHolder">Connecting to Twitch ....</h1>
	<div id="vAPP"></div>
</div> 
<div class="col-xs-4" id="wRightCol" ></div>
</div>
<div id="mainTwitchRow" class="row">
	<div id="addTwitchPlayerHere" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
</div>
</body>
</html>