<!DOCTYPE html>
<html>
<head>
	<title>Media Browser Client</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/customStyle.css">

	<script src="../js/jquery.min.js"></script>
	<script src="../js/tether.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/webSocketServerAddress.js"></script>
	<script src="../js/youtubeLiveBackground.js"></script>

	<script src="http://www.youtube.com/iframe_api"></script>
	
</head>

<body>
<div id="mainRow1" class="row">
<div class="col-xs-4" id="wLeftCol" ></div>
<div class="col-xs-4 text-center">
	<h1 class="text-center" id="wPlaceHolder">Connecting to Server ....</h1>
	<div id="vAPP"></div>
</div> 
<div class="col-xs-4" id="wRightCol" ></div>
</div>
<div id="mainRow2" class="row">
<div id="addPlayerHere" class="col-xs-12"></div>
</div>
</body>
</html>