<div id="nowPlayingRow" class="row mb-3" >

    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <h1 class="display-2 text-center">Now Playing</h1>

        <div class="card">
            <div class="card-header ">
                <p class="text-center" id="nowPlayingTitle">MUSIC // LIVE VIDEO // SAVED VIDEO // SKYPE // Audio Book</p>
            </div>
            <p class="text-center" id="audioNowPlayingStatus"></p>
            <p class="text-center" id="audioNowPlayingStatus2"></p>
            <h5 class="text-center"><a href="http://localhost:6690/musicbox_webclient/index.html#nowPlaying">Mopidy Music Control</a></h5>
            <br>
            <p class="text-center" id="videoNowPlayingStatus"></p>
            <p class="text-center" id="videoNowPlayingStatus2"></p>
        </div>
    </div>
    <div class="col-lg-3"></div>
    
</div>